.mainContainer {
  min-height: calc(100vh - 47px);
}

.kpiContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.row {
  margin-bottom: 0;
}

.wide-container {
  padding: 20px 20px 20px 70px;
}

.picker__date-display {
  background-color: #424242;
}

.picker__weekday-display {
  background-color: #616161;
}

.datepicker-date-display {
  background-color: #424242;
}

.datepicker-table td.is-selected {
  background-color: #607d8b;
}

.picker__day--today {
  color: #00b8d4 !important;
}

.picker__day--selected{
  background-color: #607d8b !important;
}

.datepicker-cancel {
  color: #607d8b;
}

.datepicker-done {
  color: #607d8b;
}

.card {
  margin-top: 0 !important;
}

.bar-chart-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

h5 {
  padding-top: 5px;
}

.title span {
  color: #01579b;
  font-size: 32px;
  width: 100%;
  font-weight: 600;
}

.title {
  text-align: left;
  padding: 20px 40px 0 100px;
}

.ReactTable {
  margin-bottom: 20px;
}