.mainContainer {
  min-height: calc(100vh - 47px);
}

.kpiContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 30px 0 30px;
}

.dashboard-kpiContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px 30px 0 30px;
}

.row {
  margin-bottom: 0;
}

.wide-container {
  padding: 0 20px 20px 70px;
}

.picker__date-display {
  background-color: #424242;
}

.picker__weekday-display {
  background-color: #616161;
}

.datepicker-date-display {
  background-color: #424242;
}

.datepicker-table td.is-selected {
  background-color: #607d8b;
}

.picker__day--today {
  color: #00b8d4 !important;
}

.picker__day--selected{
  background-color: #607d8b !important;
}

.datepicker-cancel {
  color: #607d8b;
}

.datepicker-done {
  color: #607d8b;
}

.card {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.card .card-title {
  font-size: 18px !important;
  font-weight: 600;
}

.bar-chart-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

h5 {
  padding-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

h1 {
  color: #9EB9B1;
}

.welcome {
  margin-top: 135px;
}

.ReactTable {
  padding-top: 20px;
  margin-bottom: 20px;
}